/*
This is a CSS comment 
Shortcut for adding the commnet is command/ctrl + /
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: rgb(244, 214, 239);
}

.site-title {
    color: goldenrod;
}

#my-image {
    box-shadow: 0 2px 1px #000;
}

ul.My-hobbies li:nth-child(odd) {
    background-color: rgb(242, 219, 212);
}

nav ul {
    list-style: none;
}

section ul li:nth-child(odd){
    background-color: aliceblue;
}

nav a {
    text-decoration: none;
    background-color: rgb(243, 215, 241);
    border: 1px solid #90c1e8;
    color: black;
    display: inline-block;
    margin: 5px;
}